*main{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    /* flex-direction: column; */
}
.box{
    height: 400px;
    width: 400px;

    color:green;
    background-color: red;
    border: 2px  solid black;
    text-align: center;
    align-content: center;
   
}
.box:nth-of-type(2){
    background-image:
    background-size:cover; 
    background-repest:no-repest;
    background-position:center;
    
}
