*main{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    /* flex-direction: column; */
}
.box1{
    height: 400px;
    width: 400px;

    color:green;
    background-color: red;
    border: 2px  solid black;
    text-align: center;
    align-content: center;
   
}
.box2{
    height: 400px;
    width: 400px;   
   border: 2px solid black;
    color: green;
    background-color: yellow;
    text-align: center;
    align-content: center;
}
